@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
:root {
    --background: #1d3c45;
    --accent1: #d3d3d3;
    --accent2: #c66b3d;
    --accent3: #c4a35a;
}


html {
font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: var(--background);
}

.content {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
  color: white;
  margin-bottom: 10em;
}

a {
  color: var(--accent3);
}

a:hover {
  color: var(--accent1);
}

[active="false"], [active="false"] a {
  display: none;
}

ol li {
  list-style: none;
}

ul li {
  list-style: circle;
  margin-left: 1em;
}

li{
  font-size: 1.3em;
  padding: 0.3em;
}

ul {
  font-size: 0.8em;
  letter-spacing: 0.06em;
}

ul *  {
  padding-left: 10px;
}

.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.profile-image {
    width: 50%;
}

header {
    background-color: var(--accent2);
    align-items: center;
    text-align:center;
    margin: 0 auto 2em;
    width: 50%;
    max-width: 600px;
    padding: 15px;
}

header img {
    border-radius: 10px;
}

.navigate-home{
    text-align: center;
    width: 25%;
    font-size: 1.3em;
    background-color: #223f4d;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

h1 {
  padding: 5px;
  margin: 5px;
}

em {
  font-style: normal;
  font-size: large;
}

h2 {
  color: var(--accent3);
  margin: 0px;
}

#navigate-to-portfolio-home{
    text-align: center;
    width: 25%;
    font-size: 1.3em;
    background-color: var(--accent3);
    padding: 10px;
    margin: 1em auto;
    border-radius: 10px;
    border: 1px solid white;
  }

#navigate-to-portfolio-home a{
    color: var(--accent1);
  }

#navigate-to-portfolio-home a:hover{
    color: white;
  }


footer {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 710px;
}

footer p {
    text-align: center;
    background-color: var(--accent2);
    padding: 15px;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.emphasized { 
  font-style: italic;
  
}